page-modal {
	.background-template {
		background-color: #f4f4f4;
	}

	.cursorCs {
		cursor: pointer;
	}

	.inline {
	    display: inline-block;
	}

	.float-center {
		float: center;
	}

	.relativeP {
		position: relative;
	}

	.absoluteL {
		position: absolute;
		float: left;
	}

	.align-center {
		text-align: center!important;
	}

}