<ion-header>
  <ion-navbar color="dark">
    <ion-title class="navTitle">Create/Pull - Container/Image</ion-title>
    <ion-buttons end>
      <button ion-button icon-only title="Κλείσιμο" (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="background-template">
  <div class="template-center">

    <div *ngIf="images.length>0">
      <ion-title class="align-center padding-title">
        Available Images
      </ion-title>

      <ion-list *ngFor="let img of images;">
        <ion-item>
          <div class="inline">
            {{ img.RepoTags[0] }}
          </div>

          <div class="inline" item-end>
            <ion-icon color="secondary" class="cursorCs" name="add" title="Create container" (click)="createContainer([img.RepoTags[0]])" item-end></ion-icon>
            <ion-icon color="danger" class="cursorCs" name="close" title="Delete image" (click)="deleteImage([img.RepoTags[0]])" item-end></ion-icon>
          </div>
        </ion-item>
      </ion-list>

      <hr>
    </div>

    <ion-title class="align-center padding-title">
      Pull new image
    </ion-title>

    <ion-item>
      <ion-label>Docker repo name</ion-label>
      <ion-input type="text" [(ngModel)]="image_name" value=""></ion-input>
    </ion-item>

    <br>

    <div class="align-center">
      <h6>Examples</h6>
      <div *ngFor="let name of example_images;">
        <div (click)="selectImageToPull(name)" class="cursorCs">{{ name }}</div>
      </div>
    </div>

    <div  class="align-center">
      <button ion-button round (click)="pullImage()">
        Pull
      </button>
    </div>



  </div>
</ion-content>
