page-modal {
	.background-template {
		background-color: #f4f4f4;
	}

	.cursorCs {
		cursor: pointer;
	}

	.inline {
		display: inline-block;
	}

	.align-center {
		text-align: center!important;
	}

}