<ion-item class="parent-flex">
	<div class="inline">
		<b>Container:</b> {{ container.Names[0] }} - <b>Image:</b> {{ container.Image }}
	</div>

	<div class="inline">
		&nbsp; <b>Status:</b> {{ container.State }}
		<ion-icon color="dark" *ngIf="checkRunning(container.State)" class="cursorCs" name="stats" title="Stats" item-end></ion-icon>
	</div>

	<div class="inline" item-end>
		<ion-icon color="secondary" class="cursorCs" name="ios-magnet" title="Start" (click)="start()" item-end></ion-icon>
		<ion-icon color="primary" class="cursorCs" name="hand" title="Stop" (click)="stop()" item-end></ion-icon>
		<ion-icon color="danger" class="cursorCs" name="trash" title="Delete" (click)="delete()" item-end></ion-icon>
	</div>

</ion-item>
