page-home {
	.background-template {
		background-color: #f4f4f4;
	}

	.center {
		text-align: center;
	}

	.vertical-center {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.fab-class{
		position: absolute;
		right: 50px;
		bottom: 50px;
	}
}
