<ion-header>
  <ion-navbar color="dark">
    <ion-title class="navTitle">Home</ion-title>
    <ion-spinner name="ios" color="success" *ngIf="load"></ion-spinner>
  </ion-navbar>
</ion-header>

<ion-content padding class="background-template parent">
  <div class="template-center Aligner">

<!--     <ion-title class="center" *ngIf="!containers">
      Use the button to add containers
    </ion-title> -->

    <ion-list *ngFor="let cont of containers;">
      <container [container]="cont"></container>
    </ion-list>

    <div *ngIf="container_to_show_stats">
      <br>
      <ion-title>
        Stats of Container: {{ container_to_show_stats.Names[0] }}
      </ion-title>
      <stats [container]="container_to_show_stats"></stats>
    </div>

  </div>

  <ion-fab class="fab-class">
    <button ion-fab color="secondary" title="Create Container" (click)="createContainerModal()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
