<ion-header>
  <ion-navbar color="dark">
    <ion-title class="navTitle">Home</ion-title>
    <ion-spinner name="ios" color="success" *ngIf="load"></ion-spinner>
  </ion-navbar>
</ion-header>

<ion-content padding class="background-template">
  <div class="template-center">

    <ion-list *ngFor="let cont of containers;">
      <container [container]="cont" (stats)="onStats($event)" (logs)="onLogs($event)" (changedState)="stateOfContainerChanged($event)"></container>
    </ion-list>

    <div *ngIf="container_to_show_stats">
      <stats [container]="container_to_show_stats"></stats>
    </div>

    <div *ngIf="container_to_show_logs">
      <logs [container]="container_to_show_logs"></logs>
    </div>

  </div>

  <ion-fab class="fab-class">
    <button ion-fab color="secondary" title="Create Container" (click)="createContainerModal()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
