<div>
  <ion-card>
    <ion-grid class="paddingGrid">

      <ion-row class="posRelative paddingRow">
        
        <ion-col title="Statistics" class="alignTextCenter">
          <div class="title-font">
            <b>Stats of Container</b>
          </div>
        </ion-col>

        <ion-col title="Name of container" class="alignTextCenter">
          <div class="colorBlue title-font undeline">
              <b>{{ container?.Names[0] }}</b>
          </div>
        </ion-col>

        <ion-col title="Time" class="alignTextCenter">
          <div class="title-font">
            <b>{{ stats?.read | date: 'mediumTime'}}</b>
          </div>
        </ion-col>

        <div class="posAbsoluteRight">
          <ion-spinner name="crescent" *ngIf="loading"></ion-spinner>
        </div>

      </ion-row>

      <ion-row class="paddingRow height85">
        
        <ion-col title="CPU" class="alignTextCenter">
          <div>
            CPU Usage
          </div>
          <div>
            <ion-icon name="speedometer"></ion-icon>
          </div>
          <div>
            <ion-badge>{{ stats?.cpu_stats?.cpu_usage?.total_usage }}</ion-badge>
          </div>
        </ion-col>

        <ion-col title="Online CPU" class="alignTextCenter">
            <div>
              Online cpus
            </div>
            <div>
              <ion-icon name="bulb"></ion-icon>
            </div>
            <div>
              <ion-badge>{{ stats?.cpu_stats?.online_cpus }}</ion-badge>
            </div>
        </ion-col>

        <ion-col title="Memory" class="alignTextCenter">
          <div>
            Memory
          </div>
          <div>
            <ion-icon name="eye"></ion-icon>
          </div>

          <div>
            <ion-badge>{{ stats?.memory_stats?.usage }}</ion-badge>
          </div>
        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-card>
</div>
