<div>

  <br>
  <ion-title class="center">
    Stats of Container: {{ container?.Names[0] }}
  </ion-title>


  <ion-item>
    <div class="center">
        <b>{{ stats?.read | date: 'mediumTime'}}</b>
    </div>
    <ion-grid>

      <ion-row>
        
        <ion-col title="CPU" class="center">
          <div>
            CPU Usage
          </div>
          <div>
            <ion-icon name="speedometer"></ion-icon>
          </div>
          <div>
            <ion-badge>{{ stats?.cpu_stats?.cpu_usage?.total_usage }}</ion-badge>
          </div>
        </ion-col>

        <ion-col title="Online CPU" class="center">
            <div>
              Online cpus
            </div>
            <div>
              <ion-icon name="bulb"></ion-icon>
            </div>
            <div>
              <ion-badge>{{ stats?.cpu_stats?.online_cpus }}</ion-badge>
            </div>
        </ion-col>

        <ion-col title="Memory" class="center">
          <div>
            Memory
          </div>
          <div>
            <ion-icon name="eye"></ion-icon>
          </div>

          <div>
            <ion-badge>{{ stats?.memory_stats?.usage }}</ion-badge>
          </div>
        </ion-col>


      </ion-row>
    </ion-grid>
  </ion-item>
</div>
